#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
}

body {
}

.stopLabel {
  color: #eee8;
  font-family: sans-serif;
  font-size: 10px;
  /* font-size: 50px; */
}

aside#dataView {
  height: 100%;
  width: 500px;
  overflow-y: scroll;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  background-color: #eee1;
  pointer-events: none;
  border: 1px solid white;
  padding: 10px;
  color: white;
  font-family: sans-serif;
}

aside#hover {
  display: none;
  position: absolute;
  background-color: #000f;
  border: 1px solid white;
  padding: 10px;
  color: white;
  font-family: sans-serif;
}

div.renderWindow {
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  display:inline-block;
}

aside#clock {
  position:fixed;
  color: white;
  font-family: sans-serif;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
